//doctype html
extends layout

block content
  head
    title Game!
  body
    h1(id="name") Name
    h2(id="time") 00:05
    .row
      .col-md-3
        p(id="aName")
      .col-md-3
        p(id="bName")
      .col-md-3
        p(id="cName")
      .col-md-3
        p(id="dName")
    .row
      .col-md-3
        img(src="", height=280, width=200, id="a")
      .col-md-3
        img(src="", height=280, width=200, id="b")
      .col-md-3
        img(src="", height=280, width=200, id="c")
      .col-md-3
        img(src="", height=280, width=200, id="d")
    br
    br
    a.btn.btn-primary.btn-large(href='/game') Play Again!
    script(src="/javascripts/game.js")