extends layout

block content
  .jumbotron
    h1 ConnectMeth
    p.lead A game for matching faces to names to faces to bios
    p
      a.btn.btn-primary.btn-large(href='http://expressjs.com/') Play!
  .row
    .col-md-3
      a.h1(href='https://www.linkedin.com/profile/view?id=89849359') Aaron
      p
        img(src="../images/aaron.JPG", height=200, width=200)
    .col-md-3
      a.h1(href='https://www.linkedin.com/profile/view?id=89849359') Emerson
      p
        img(src="../images/emerson.png", height=200, width=150)
    .col-md-3
      a.h1(href='https://www.linkedin.com/profile/view?id=31018687') Shobana
      p
        img(src="../images/shobana.JPG", height=200, width=200)
    .col-md-3
      a.h1(href='https://www.linkedin.com/profile/view?id=39986376') Tom
      p
        img(src="../images/tom.JPG", height=200, width=200)
